[Unit]
Description=Shortest path finder for a Wikipedia graph
After=network.target

[Service]
ExecStart=/usr/lib/wikipath/websearch.sh
DynamicUser=yes

[Install]
WantedBy=multi-user.target
