[Unit]
Description=Shortest path finder for a Wikipedia graph
After=network.target

[Service]
User=nobody
Group=nobody
ExecStart=/usr/lib/wikipath/websearch.sh

[Install]
WantedBy=multi-user.target
