:root {
  --blue-1: #11446e;
  --blue-2: #28d;
  --blue-3: #bddcf5;
  --red-1: #c11;
  --red-2: #e22;
  --red-3: #f33;

  --grey-1: #444;
  --grey-2: #888;
  --grey-3: #ccc;
  --grey-4: #ddd;

  font: 14px Verdana, Arial, sans-serif;
}

a, a:visited {
  color: var(--blue-1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /*background: var(--grey-4);*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

input.error {
  background: var(--red-3);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: white;
}

.content header, .content main, .content footer {
  padding: 0.5em;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.start-and-finish {
  display: flex;
  /* flex-direction: row;
     flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  border: 1px solid var(--blue-2);
  border-radius: 8px;
  padding: 4px 8px;
  font-weight: bold;
  background: linear-gradient(0deg, #e0e0e0 0%, #e8e8e8 25%,#f0f0f0 75%, #f8f8f8 100%);
  color: black;
}

button:hover:not(:disabled) {
  cursor: pointer;
}

button:hover {
  background: var(--blue-3);
}

button:active {
  background: var(--blue-2);
  color: white;
}

button:focus {
  outline: 1px solid var(--blue-2);
}

.page-input {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.page-input label {
  font-size: 125%;
  font-weight: bold;
  padding: 0 8px 8px 8px;
}

.text-input-and-icon {
  display: flex;
  flex-direction: row;
}

.text-input-and-icon input {
  height: 24px;
  padding: 4px 12px;
}

.text-input-and-icon svg {
  padding: 0;
}

.text-input-and-icon input {
  border-radius: 20px;
  border: 1px solid var(--blue-2);
}

.text-input-and-icon input:focus {
  outline: 1px solid var(--blue-2);
}

.text-input-and-icon button {
	padding: 0;
  margin: 4px;
  width: 24px;
  height: 24px;

  border: 0;
  border-radius: 4px;

  margin-left: -36px;
  margin-right: 20px;  /* -(width + margin-left) */
}

.text-input-and-icon button:not(:active, :hover, :disabled) {
  background: rgba(255, 255, 255, 80%);
}

.text-input-and-icon button:focus {
  outline-width: 2px;
}

button:disabled,
.text-input-and-icon input:disabled {
  background: var(--grey-3);
  color: var(--grey-2);
  border-color: var(--grey-1);
  outline-color: var(--grey-1);
}

.search-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  padding: 4px;
}

.search-buttons button {
  min-width: 10em;
  margin: 1em 0;
}

.info-box {
  border: 1px solid black;
  margin: 16px;
}

.info-box header h4 {
  margin: 0;
  padding: 0;
}

.info-box header {
  display: block;
  background: var(--blue-3);
  padding: 8px 8px;
}

.info-box content {
  display: block;
  padding: 0 8px;
}

#path-found,
#path-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.path-list {
  display: flex;
  flex-direction: column;
}

.path-list .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.path-list span.index {
  flex: 0 0 32px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  background: black;
  color: white;
  text-align: center;
  margin-right: 8px;
  z-index: 1;
}

.path-list .row .page a {
  font-size: 125%;
}

.path-list .link {
  height: 48px;
  background: black;
  width: 8px;
  margin-left: 12px;
  margin-top: -16px;
  margin-bottom: -16px;
}

.path-list .link-missing {
  height: 64px;  /* not sure why this is necessary... */
  margin-top: -8px;
  margin-bottom: -8px;
}

#corpus-info table th {
  text-align: left;
  padding-right: 1em;
}

#corpus-graph {
  font: 12px "Courier New", monospace;
}

#corpus-pages, #corpus-links {
  text-align: right;
}
